@{
    ViewData["Title"] = "Activar Cuenta";
}
<h1>Activar Cuenta</h1>

@if(ViewBag.Error != null)
{
    <div style="color:red;">@ViewBag.Error</div>
}

<form method="post">
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <div>
        <label>Contraseña temporal:</label>
        <input type="password" name="temporal" value="@ViewBag.Temp" required />
    </div>
    <div>
        <label>Nueva contraseña:</label>
        <input type="password" name="nuevaContrasena" required />
    </div>
    <button type="submit">Activar cuenta</button>
</form>
