@{
    ViewData["Title"] = "Contraseña Cambiada";
}
<h1>Contraseña actualizada</h1>
<p>Tu contraseña ha sido cambiada correctamente. Ahora puedes iniciar sesión.</p>
<a href="@Url.Action("Index","Login")">Ir a Iniciar Sesión</a>
