@{
    ViewData["Title"] = "Restablecer Contrase単a";
}
<h1>Restablecer Contrase単a</h1>

@if(ViewBag.Error != null)
{
    <div style="color:red;">@ViewBag.Error</div>
}

<form method="post">
    <input type="hidden" name="token" value="@ViewBag.Token" />
    <div>
        <label>Nueva contrase単a:</label>
        <input type="password" name="nuevaContrasena" required />
    </div>
    <button type="submit">Cambiar contrase単a</button>
</form>
