@model ProyectoLuisa.Models.InformacionInstitucional
@{
    Layout = "~/Views/Public/Shared/_LayoutPublic.cshtml";
    ViewData["Title"] = "Visión";
}

<h1>Visión</h1>
<p style="white-space: pre-line;">@Model.Vision</p>
