@{
    Layout = "~/Views/Public/Shared/_LayoutPublic.cshtml";
    ViewData["Title"] = "Inicio Público";
}

<div class="text-center mt-5">
    <h2 class="fw-bold text-primary">Bienvenido a la Plataforma Pública</h2>
    <p class="mt-3">Selecciona una opción del menú superior para continuar.</p>
</div>
